{% extends 'base.html.twig' %}

{% block title %}Hello PerksController!{% endblock %}

{% block body %}


        {% if editMode %}
            <h1>Modification de la perk ID =  <span class="text-info">{{ editMode }}</span></h1>
        {% else %}
        {# Sinon editMode ne contient aucun ID d'article, il renvoi FALSE, alors c'est une insertion, on entre dans le ESLE #}
            <h1> ADD New Perk </h1>
        {% endif %}

    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {# {{ form_row(form.image) }} #}
        {# {{ form_row(form.slug) }} #}
        {{ form_row(form.category) }}

    {{ form_end(form) }}

{% endblock %}
