{% extends 'base.html.twig' %}

{% block title %}Hello PerksController!{% endblock %}

{% block body %}

<h1> ADD New Perk </h1>

    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {# {{ form_row(form.image) }} #}
        {# {{ form_row(form.slug) }} #}
        {{ form_row(form.category) }}

    {{ form_end(form) }}

{% endblock %}
