{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center mb-4">
        {% if editMode %}
            <h1>Modif</h1>
        {% else %}
            <h1>Register</h1>
        {% endif %}
    </div>
    <div class="container col-md-10 col-lg-6">
    
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger btn-color-spe">S'enregistrer</button>
        </div>
        
    {{ form_end(registrationForm) }}

    </div>
{% endblock %}
