{% extends 'base.html.twig' %}

{% block title %}{{killer.name}}{% endblock %}

{% block body %}

<main class="container">
        <div class="row g-5">
            <div class="col">
            <div class="d-flex justify-content-around align-items-center ">
                <h3 class="pb-4 border-bottom ">{{ killer.name }}</h3>
                <h3 class="pb-4 border-bottom">Categorie : <span style="color: red">{{ killer.categories[0].name }}</span></h3>
            </div>
                
                <div id="build-list">
                    {% include 'build/list.html.twig' with {builds : killer.builds, leftCol: 4, rightCol: 8 } %}
                </div>
            </div>
            <div>
                <a href="{{ path('allkiller') }}">Retour aux Killers</a>
            </div>
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('removekiller', {'id': killer.id}) }}">suppr</a>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}
