{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {{ form_start(form) }}

        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.name) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.CP) }}
        {{ form_row(form.city) }}

        <button type="submit" class="btn btn-dark mb-5">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Enregistrer
        {% endif %}
        </button>

    {{ form_end(form) }}


{% endblock %}